{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "overrides": [
    {
      "files": "src/**",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "**/locales/**",
      "options": {
        "printWidth": 300
      }
    }
  ]
}